<div class="nav">
  <ul>
    <% @entry_forms.each do |form| %>
      <li><a href="/entries/<%= form.id %>"><%= form.entry.name %></a></li>
    <% end %>
  </ul>
</div>
<div class="container">
  <div class="header">
    That one time I met Amy...
  </div>
  <div class="entry">
    <div class="square cta">

    </div>
    <a class="clicky" href="/entries/new">
      New
    </a>
  </div>
  <% @entry_forms.each do |form| %>
    <div class="entry">
      <div class="square" style="background: url('<%= form.video_poster %>') no-repeat center center;">

      </div>
      <a class="clicky" href="/entries/<%= form.id %>">

      </a>
    </div>
  <% end %>
</div>